@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow-x:hidden;
  transition-duration: 1s;
}

input:hover{
  border-bottom: #000000;
  
}
input{
  border:none;
}
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

body {
  overflow: auto;
}